AMBIENTE_PROCESSO=producao # Para .env
# AMBIENTE_PROCESSO=desenvolvimento #P Para .env.dev

# Configurações de conexão com o banco de dados
DB_HOST='SEU IP ou LOCALHOST'
DB_DATABASE='NOME DO BD'
DB_USER='USUARIO DA DB'
DB_PASSWORD='SENHA DO USUARIO'
DB_PORT='3306 para local e 3307 para vm'

# Configurações do servidor de aplicação
APP_PORT=8080 #Porta do servidor
APP_HOST=localhost #Localizacao do servidor

# importante: caso sua senha contenha caracteres especiais, insira-a entre 'aspas'