/* SOBRE NÓS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  
    background-size: cover;        /* faz a imagem cobrir toda a tela */
    background-position: center;   /* centraliza */
    background-repeat: no-repeat;  /* não repete */
    background-attachment: fixed;  /* efeito de fundo parado (parallax leve) */
}
.sobre-container {
    width: 100%;
}

/* BANNER */
.banner {
    background: linear-gradient(135deg, rgb(43, 87, 131), #196bbd);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 80px 20px;
    border-radius: 20px;
    margin: 0 50px 40px 50px;
}

.banner h1 {
    font-size: 40px;
   
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
}

/* SOBRE */
.sobre {
    background: linear-gradient(135deg, rgb(58, 106, 154), #196bbd),rgb(57, 107, 207);
    border-radius: 15px; 
    text-align: center;
    padding: 50px 80px;
}

.sobre h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre p {
    font-size: 18px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
    line-height: 1.6;
}

/* MISSÃO VISÃO VALORES */
.mvv {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    flex-wrap: wrap;
}
.cabecalho{
      display: flex;
    justify-content: center;
    gap: 191px;
}
.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    border: 2px solid rgba(0, 86, 178, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: rgba(0, 86, 178, 1);
}

.card h3 {
    color: rgba(0, 86, 178, 1);
}

/* EQUIPE */
.equipe {
    text-align: center;
    padding: 60px;
    background-color: #F5F7F8;
}

.equipe h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: rgba(0, 86, 178, 1);
}

.cards-equipe {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.membro {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    border: 2px solid rgba(0, 86, 178, 0.1);
    transition: 0.3s;
}

.membro:hover {
    transform: translateY(-10px);
    border-color: rgba(0, 86, 178, 1);
}

.membro img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(0, 86, 178, 1);
    object-fit: cover;
    margin-bottom: 10px;
}