@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", "inter", sans-serif;
  background-color: #f5f5f5;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.imgBack {
  display: flex;
  position: absolute;
  left: 5px;
}

.logoContainer {
  margin: auto;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* TÍTULO */
.titleContainer {
  display: flex;
  justify-content: center;
  color: #0f172a;
}

/* KPIs (linha de cards) */
.kpis {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* GRÁFICO */
.grafico_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 20px #61aacb;
  border-radius: 20px;
  padding: 20px;

  height: 80%;
  width: 80%;
}

/* STATUS (linha de cards) */
.status {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* CARD STATUS */
.card_status {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 20px;

  background-color: #61aacb;
}

.card_status span {
  text-align: center;
}

/* IMAGENS */
.imgBack {
  width: 25px;
}

.logo {
  width: 30px;
}

.logoTipo {
  width: 200px;
}

.card_kpi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  width: 280px;
  min-height: 110px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;

  background-color: #0f172a !important;
}

/* Título */
.kpi_titulo {
  font-size: 20px;
  color: #f5f5f5 !important;
}

/* Valor */
.kpi_valor {
  font-size: 32px;
  font-weight: bold;
  color: #ef4444 !important;
}

/* ALERTA */
.kpi_alerta {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  color: #ef4444 !important;

  padding: 4px 10px;
  border-radius: 999px;

  background-color: #ef444426 !important;
}

/* Faixa */
.kpi_range {
  font-size: 12px;
  color: #94a3b8 !important;
}

.kpi_label_tempo {
  font-size: 20px;
  color: #f5f5f5 !important;
  padding-bottom: 10px;
}

.kpi_tempo {
  font-size: 24px;
  color: #fcfcfc !important;
  padding-bottom: 10px;
}

.kpi_data {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  color: #eab308 !important;

  padding: 4px 10px;
  border-radius: 999px;

  background-color: #eab30826 !important;
}

.valor_imp{
  color: #fcfcfc !important;
}

#graficoPizza {
    max-width: 300px;
    max-height: 300px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 1%;
}

#pizzaTitle {
    text-align: left;
    margin-left: 6%;
    width: 100%;
}
